@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-banner {
    background-image: url('/images/banner-image.png');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .swiper-horizontal {
    padding: 20px 0 !important;
}
  
.properties-get-quate-modal .close-btn{ z-index: 999; top: 20px;
  right: 20px;}
  

.h-full-properties-card {
    height: 100%;
}

.bg-black{ background-color: #172023;}


/* Text animation: smooth slide-up + fade-in */
@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideFade {
  animation: slideFade 1.2s ease-out forwards;
}
